.contador {

    font-size: 2vw;
}

.yellowButton {

    background-color: rgb(255, 255, 129);
    border-radius: 10px;
    width: 4vw;
    height: 4vw;
    font-size: 2vw;

}

.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-size: 2vw;
    background-color: rgb(129, 98, 124);
    width: 50vw;
    font-family: "TechnicaSB" ;
    padding: 5vw;
    padding-right: 6vw;
}

.label {

    margin: 2vw;

}
.input {

    margin: 1vw;
    height: 2.5vw;
    flex-grow: 1;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: 1.5vw;
    font-family: "TechnicaSB" ;
}

.confirmarCheckout {

    background-color:rgb(241, 255, 44);
    font-size: 1.7vw;
    font-family: 'Retro Gaming';
    border: none;
    border-radius: 7px;
    padding: 5px;
    margin: 5vw auto auto auto ;
    width: 25vw;
}

.graciasPorComprar {

    margin-top: 2vw;
    text-align: center;
}